aiohttp==3.4.4
beautifulsoup4==4.6.3
brawlstats==2.2.2
clashroyale==4.0.1
discord-webhook==0.4.1
discord.py==1.0.0a1691+gf686924
docopt==0.6.2
getgist==0.1.2
lxml==4.2.3
mysql-connector-python==8.0.15
PyNaCl==1.2.1
